# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundle
.bundle/
vendor/
Gemfile
Gemfile.lock

# Ruby
*.gem
*.rbc
.rbenv-version
.rbenv-gemsets

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Test files
test_*.html